*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    height:200vh;
   background-color: #d4d4d4 ;
}

header{
   /* background-color: #0d77b5;*/
    background-color: #d3d3d3;
    background: none;
   margin-top: -180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: black;
    margin-bottom: 200px;
    position: fixed;
}
a{
    text-decoration: none;
    color:black

}

a:hover{
    color:#25b2f9;
}
ul{
    background-color: #d3d3d3;
}
li{
    background-color: #d3d3d3;
    display: inline-block;
    margin:20px;

}
h1{
    color:#69b80c;

}

span{
    color: #25b2f9;
}

#logo{
    background-color: #d3d3d3;
    width: 210px;
    height: 150px;
}

#imgTexto{
    text-align: center;
}

#descricao{
    text-align: center;
    text-transform: uppercase;
}

#descricao p {
    text-align: center;
    font-size: 50px;
}
#img_placeholder{
    width: 500px;
    height: 400px;
}

#topo_do_site{
    margin-top: 180px;
    margin-bottom: -200px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#topo_do_site p {
    max-width: 500px;
    text-transform: uppercase;
    font-weight: bold;
}

#topo_do_site h1{
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 50px;
}

#sobre{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
    font-size: 25px;

}

#sobre p{
    margin: auto;
    text-align: center;
    width: 500px;
}

#sobre img{
    max-width: 700px;
}



#portfolio{
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items:center
}

#portfolio img{
    width: 900px;
}

#portfolioArea{
    height: 300px;
}

#trabalho1{

    margin-bottom: 300px;
}

#trabalho1 img{
    max-height: 750px;
}

#trabalho2{
    margin-bottom: 300px;
}


#formulario{
    display: flex;
    flex-direction: column;
}

form{
    align-items:center;
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto ;
  width: 300px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
form textarea{
    margin: auto;
    width: 400px;
    height: 400px;
    resize: none;
}

#enviar{
    margin-top: 10px;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: none;
    color:white;
    background-color:#25b2f9
}

#enviar:hover{
    background-color:#69b80c
}

#contato{
    text-align: center;
    margin-bottom: 100px;
}

#contato img{
    text-align: center;
    width: 70px;
}


footer{
    background-color: #d3d3d3;
    text-align: center;
}

@media(max-width: 900px){

    #topo_do_site{
        margin-top: 170px;
        flex-direction: column;
        text-align: center;
    }

    #img_placeholder{
    max-width: 100%;
    }


    #logo{
        width: 80px;
        height: 80px;
    }

    #descricao p{
        font-size: 30px;
    }

    header{
        margin-top: -170px;
        max-width: 100%;
       
    }

    #sobre{
        font-size: 15px;
    }
    #sobre p{
        max-width: 300px;
    }

    #sobre img{
        max-width: 380px;
    }

    #portfolio img{
        width: 380px;
    }   

    #img3{
        height: 400px;
    }

    form textarea{
        margin: auto;
        width: 300px;
        height: 300px;
        resize: none;
    }
}
